*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../assets/images/bike-10.jpg");
    background-size: cover;
}

a:link,
a:active, a:visited {
  text-decoration: none;
}
.container{
    padding:50px 25px 0;
    max-width:668px;
    width:100%;
    margin:auto;
}

.container .logo-text {
  color: #405E76;
  font-weight: 700;
}

.container .logo-bage {
  color: #DFC47F;
  font-size: 4rem;
}
.container::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -1;
}
.container .logo{
    text-align: center;
    padding-bottom:48px;
}
.container .logo h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}
.container .form{
    max-width:350px;
    width:100%;
    margin:auto;
}
.container .form-group{
    margin-bottom: 15px;
}
.container .form-group input{
    display:block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding:11px 15px;
    height:48px;
    border-radius: 5px;
    color:#3C4A57;
    border:1px solid #e4e8ee;
    box-shadow: none;
    width:100%;
}
.container .form-group input:focus{
    outline:none;
}
.container .form-group input::placeholder{
    color:#3C4A57;
    font-weight: 400;
    font-size: 14px;
}
.form p{
    color: #ffffff;
}
.container .btn{
    width:100%;
    margin:15px 0 30px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    padding:12px 29px;
    height:48px;
    text-transform: uppercase;
    color:#fff;
    background-color:#3525D3;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.container .btn:focus{
    outline:none;
}
.container .account{
    color:#b0abab;
    border-top:1px solid #E4E8EE;
    padding-top:20px;
    text-align: center;
}
.container .account a{
    color:#3525D3;
}
.container .forget-password{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 0;
}
.container .forget-password a{
    color:#3525D3;
}
.error{
  color: #fa0000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px; 
}
.container .success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

@media (max-width:1030px){
    .container::before{
        left:-25%;
        min-height: 60vh;
        height:500px;
    }
}
@media (max-width:767px){
    .container{
        max-width: 550px;
    }
    .container .headline h1{
        font-size: 22px;
        line-height:25px;
    }
    body{
        background-image: url("../assets/images/bike-8.jpg");
    background-size: cover;
    }
}
        
      