// change default browser spacing to 0 and define box-sizing
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; // defines 1 rem as 10px
    scroll-behavior: smooth; // enables smooth scrolling throughout the site
}
