/*****  HEADER SECTION *****/
.header {
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to right, rgba($color-grey, .3), rgba($color-grey, .25));


    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        overflow: hidden;

        &--image {
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .1rem 10rem;

        &-logo-box {

            .logo-text {
                color: $primary-color;
                font-weight: 700;

                &--bage {
                    color: $secondary-color;
                    font-size: 4rem;
                }
            }
        }

        &-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;

        }


        &-link:not(:last-child) {
            padding: 0 6rem;

            a {
                font-size: $font-size-medium;
                text-decoration: none;
                display: block;
                font-weight: 600;
                color: $primary-color;
                position: relative;

                &::before {
                    position: absolute;
                    bottom: 0;
                    content: "";
                    transition: all .2s;
                    height: .3rem;
                    background-color: $primary-color;
                }
            }

            .nav-ltr {
                &::before {
                    width: 0%;
                    bottom: .1rem;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }

        &-link:last-child {
            margin: 0 5rem 0 10rem;
            position: relative;


            a {
                text-decoration: none;
                color: $secondary-color;

                &:hover {
                    color: $primary-color;
                }

                &:hover+.banner {
                    transform: translateY(0);
                    opacity: 1;
                }

            }
        }
    }

    &__content {
        padding: 20rem 0 0 10rem;

        .heading-wrapper {
            width: 70rem;
        }
    }
}

/*****  MAIN SECTION *****/
.section-main{
    position: relative;
}

/*****  ABOUT SECTION *****/
.section-about {
    min-height: 70vh;
    @include flex-column;

    &--wrapper {
        @include flex-row;
        padding: 10rem 10rem 0 10rem;
    }

    &__img {
        padding: 2rem;
        border-radius: .7rem;
        box-shadow: .6rem .6rem 7rem 0 rgba($color-grey, .8);
        transition: all .3s;
        cursor: pointer;

        img {
            height: 100%;
        }
    }

    &__content {
        padding: 10rem;

        h2 {
            font-size: $heading-medium;
        }

        .paragraph {
            font-size: $font-size-large;
            font-weight: 500;
            letter-spacing: .1rem;
            line-height: 2;
        }

    }

    &__svg {
        margin-bottom: -7rem;
    }
}

/*****  RIDES SECTION *****/
.section-ride {
    min-height: 50vh;
    @include flex-column;
    margin-bottom: 5rem;


    &--wrapper {
        width: 100%;
        @include flex-row-justify-space-evenly;
        background-color: $secondary-color;
    }

    &--svg {}

    .left,
    .right {
        padding: 15rem 0rem;

        .paragraph {
            width: 64rem;
            color: $color-white;
            font-size: $font-size-large;
            font-weight: 500;
            letter-spacing: .1rem;
            line-height: 2;
        }

        &-images {
            @include flex-row-justify-space-evenly;
        }
    }

    .left {
        flex: .4;

        .paragraph {
            width: 64rem;
            margin: 0 auto;

        }

        .card-1 {
            transform: translateY(10rem);

            &:hover {
                transform: translateY(9rem);
            }
        }

        .card-2 {
            transform: translateY(0rem) translateX(4.5rem);

            &:hover {
                transform: translateY(-1rem) translateX(4.5rem);
            }
        }
    }

    .right {
        flex: .6;

        .paragraph {
            margin: 0 auto;
        }

        .card-3 {
            transform: translateY(2rem);

            &:hover {
                transform: translateY(1rem);
            }
        }

        .card-4 {
            transform: translateY(-9rem);

            &:hover {
                transform: translateY(-10rem);
            }
        }

        .card-5 {
            transform: translateY(2rem);

            &:hover {
                transform: translateY(1rem);
            }
        }
    }
}

/*****  SHOP SECTION *****/
.section-shop {
    min-height: 100vh;

    h2 {
        font-size: $heading-medium;

        span {
            font-size: 10rem;
        }
    }

    .slideshow {
        padding: 0 10rem;

        .relative {
            position: relative;
            height: 70rem;

        }

        &__slide {
            height: 100%;
            width: 100%;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &--info {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                color: $color-white;
                background: linear-gradient(to right, rgba($primary-color, .7), rgba($primary-color, .5));
                padding: 30rem 0 0 10rem;
                padding-bottom: 100%;

                h2 {
                    font-size: $heading-huge;
                }

                p {
                    font-size: $font-size-large;
                    width: 65%;

                    span {
                        display: block;
                        font-size: $font-size-medium;
                        color: $secondary-color;
                    }

                }
            }

            &-button {
                background-color: transparent;
                border-bottom: 2px solid $secondary-color;
                border-radius: 0;
                font-size: $font-size-large;

                &:hover {
                    color: $secondary-color;
                    background-color: $secondary-color;
                    color: $primary-color;
                    border-bottom: 2px solid $secondary-color;
                    border-radius: 5px;
                }
            }

        }

        .btn-shop {
            padding: 1.2rem 3rem;
            background-color: transparent;
            border-bottom: 2px solid $secondary-color;
            border-radius: 0;

            &:hover {
                border-bottom: 2px solid $secondary-color;

            }
        }

    }
}

/*****  DISCOUNT SECTION - MOBILE*****/
.section-discount {
    min-height: 40vh;
    @include flex-center;
    display: none;

    &__container {
        width: 90rem;
        @include flex-center;
        position: relative;
    }
}

/*****  TESTIMONIALS SECTION *****/
.section-testimonials {
    min-height: 80vh;

    &__svg {
        &--top {
            margin-bottom: -.5rem;
        }

        &--bottom {}
    }

    h2 {
        font-size: $heading-medium;
        margin-top: -7rem;

        span {
            font-size: 10rem;
        }
    }

    .testimony--wrapper {
        min-height: 50vh;
        background-color: $primary-color;
        padding: 0 10rem 5rem 10rem;
        @include flex-center;
        padding-top: 5rem;

        &__container {

            @include flex-row;
            justify-content: space-evenly;
            flex-wrap: wrap;

            &>* {
                margin: 3rem 0;
            }
        }
    }

}

/*****  FEATURED SECTION *****/
.section-featured {
    min-height: 50vh;
    @include flex-column;

    h2 {
        font-size: $heading-medium;

        span {
            display: block;
            font-size: $font-size-medium;
            color: $secondary-color;
        }
    }

    .featured {
        padding: 0 10rem 10rem 10rem;
        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        &>* {
            height: 8rem;
        }

        &__bike {}

        &__tesla {
            height: 20rem;
        }

        &__ebike {}

    }

    &-svg {
        &--bottom {
            margin-bottom: -1rem;
        }
    }
}

/*****  CONTACT SECTION *****/
.section-contact {
    min-height: 50vh;
    background-color: $secondary-color;
    padding-bottom: 2.5rem;

    &__wrapper {
        padding: 0 10rem;
        @include flex-row;
        height: inherit;
    }

    .left,
    .center,
    .right {
        padding: 1rem;
    }

    .left {

        h2 {
            font-size: $heading-medium;
            color: $primary-color;
        }
    }

    &__form {
        @include flex-column;

        &>*:not(:last-child) {
            margin-bottom: 3rem;
        }

        &--name,
        &--email,
        &--message {
            @include flex-column;
            font-weight: 600;
            color: $primary-color;
        }

        input[type="text"],
        input[type="email"],
        textarea,
        input[type="submit"] {
            padding: 1rem 2rem;
            font-size: $font-size-medium;
            outline: none;
            border-radius: 5px;
            min-width: 50rem;
            border: none;
        }

        &--label {
            font-size: $font-size-medium;
            font-weight: 500;
        }

        &--name {}

        &--email {}

        &--message {
            textarea {
                resize: none;
            }
        }

        input[type="submit"] {
            border: 2px solid transparent;

            &:hover {
                border: 2px solid $primary-color;
            }
        }
    }

    .center {
        padding: 15rem 20rem;

        .contact__details {
            @include flex-column;

            &>*:not(:last-child) {
                margin-bottom: 4rem;
            }

            &--tel,
            &--email,
            &--location {
                @include flex-row;
                align-items: flex-start;

                &>*:not(:last-child) {
                    margin-right: 1rem;
                }

                a {
                    font-size: $font-size-medium;


                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .icon-tel,
            .icon-email,
            .icon-location {
                font-size: 3.5em;
                width: 4rem;
                color: $primary-color;
            }

            .icon-tel {}

            .icon-email {}

            .icon-location {}

            &--tel {}

            &--email {}

            &--location {}
        }
    }

    .right {
        flex-grow: 1;

        .contact__location {
            @include flex-column;

            &--heading {
                font-size: $heading-medium;
                color: $primary-color;
            }

            &--map {
                overflow: hidden;
                padding-bottom: 100%;
                position: relative;

                iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }

            .card:hover {
                transform: translate(0);
            }

        }
    }
}

/*****  FOOTER SECTION *****/
.section-footer {
    min-height: 30vh;
    background-color: $primary-color;
    padding: 1rem 10rem;

    &--wrapper {
        width: 100%;
    }

    .top {
        @include flex-row;
        justify-content: space-between;
        border-bottom: 2px solid $secondary-color;

    }

    .newsletter {
        flex: .4;

        &-content {
            color: $secondary-color;
        }

        &-form {
            @include flex-row;
            align-items: center;

            input {
                padding: 1rem 2rem;
                font-size: $font-size-medium;
                outline: none;
                min-width: 30rem;
                border: none;

            }

            button {
                background-color: rgba($secondary-color, .8);
                border-radius: 0;
                font-size: $font-size-medium;
                padding: .65rem 2rem;

                &:hover {
                    background-color: rgba($secondary-color, 1);
                    color: $primary-color;
                    transform: translate(0);
                }
            }
        }
    }

    .follow-us {
        flex: .3;
        padding-left: 25rem;

        .footer-nav {
            text-align: left;
        }

        &>i {
            font-size: 2.5em;
            color: $secondary-color;

            &:hover {
                cursor: pointer;
            }
        }

        &>i:not(:last-child) {
            margin-right: 3rem;
        }

    }

    .footer-nav {
        flex: .3;

        a {
            @include flex-column;
            font-weight: 400;
        }
    }

    &--copyright {
        text-align: center;
    }
}

/*****  MEDIA QUERIES *****/
/*****  LAPTOP *****/

@media (max-width: 90em) {

    // 1440px
    html {
        font-size: 46%;
    }

    /* ABOUT SECTION MEDIA QUERY*/
    .section-about {
        &__img {
            height: 80vh;
        }


    }

    /* RIDE SECTION MEDIA QUERY*/
    .section-ride {
        [class^="card"]>img {
            background-color: red;
            height: 34vh;
        }
    }

    /* SHOP SECTION MEDIA QUERY*/

    .section-shop {
        margin-bottom: 1rem;

        .splide+div {
            margin-top: 5rem !important;
        }
    }

    /* TESTIMONIALS SECTION MEDIA QUERY*/
    /* CONTACT SECTION MEDIA QUERY*/

    .section-contact{
        padding: 10rem;
    }
    /* FOOTER SECTION MEDIA QUERY*/


}

/*****  TABLET MEDIA QUERIES *****/

@media (max-width: 48em) {

    // 768px
    html {
        font-size: 30%;
    }

    .section-discount{
        @include flex-center;
        margin-bottom: 5rem;
        .discount{
            @include flex-center;
            flex-direction: column;
        }
    }

    /* HEADER SECTION MEDIA QUERY*/

    .header {
        min-height: 70vh;

        .banner {
            display: none;
        }
    }

    /* ABOUT SECTION MEDIA QUERY*/

    .section-about {
        &__img {
            height: 50vh;
        }

        &__svg {
            margin-bottom: -.8rem;
        }
    }

    /* RIDE SECTION MEDIA QUERY*/

    .section-ride {
        &--wrapper {
            padding: 0 10rem;
        }

        [class^="card"]>img {
            height: 20vh;
        }

        .card-5 {
            display: none;
        }
    }

    /* SHOP SECTION MEDIA QUERY*/
    .section-shop {
        min-height: 75vh;

        .splide+div {
            margin-top: 4rem !important;
        }
    }

    /* TESTIMONIALS SECTION MEDIA QUERY*/

    .section-testimonials {
        .testimony--wrapper {

            padding: 0 0 5rem 0;

            &__container {
                &>* {
                    margin-right: .1rem;
                }
            }
        }
    }

    /*****  FEATURED SECTION *****/


    /* CONTACT SECTION MEDIA QUERY*/

    .section-contact {

        .left,
        .center,
        .right {
            padding: 0rem;
        }

        .center {
            padding: 15rem 5rem;
        }
    }

    /* FOOTER SECTION MEDIA QUERY*/
    .section-footer {
        padding: 5rem 10rem;
    }

}

/*****  PHONE MEDIA QUERIES *****/

@media (max-width: 37.5em) {
    // 600px

    html {
        font-size: 28%;
    }

    /* HEADER SECTION MEDIA QUERY*/

    .header {
        min-height: 60vh;

        &__nav {
            padding-right: 0;
        }
    }

    /* ABOUT SECTION MEDIA QUERY*/
    .section-about {
        min-height: 45vh;

        &--wrapper {
            padding-bottom: 10rem;
        }

        &__content {
            padding: 5rem;
            padding-top: 0;
        }

        &__img {
            height: 40vh;
        }

        &__svg {
            margin-bottom: 0;
        }
    }

    /* RIDE SECTION MEDIA QUERY*/

    .section-ride {
        min-height: 50vh;

        &--wrapper {
            @include flex-column;
            margin-top: -4rem;
        }

        .left,
        .right {
            @include flex-row;
            justify-content: space-evenly;
            align-items: center;
            padding: 0;


            [class^="card"] {
                transform: translateY(0);

                &:hover {
                    transform: translateY(0);

                }
            }

            .paragraph {
                margin: 0 !important;
            }
        }

        .left {
            .paragraph {
                order: 1;
            }

            &-images {
                order: 1;
                margin-bottom: 3.5rem;
            }
        }

        [class^="card"] {
            transform: translateY(0);
        }

        .left-images {
            order: 1;
            padding: 5rem;
        }

        [class^="card"]>img {
            height: 20vh;
        }

        .card-2,
        .card-4 {
            display: none;
        }

        .right {

            &-images {
                padding: 5rem;
            }
        }
    }

    /* SHOP SECTION MEDIA QUERY*/
    .section-shop {
        min-height: 55vh;

        .slideshow {
            margin-bottom: 5rem;

            h2 {
                font-size: $heading-large;
            }

            p {
                width: 80%;
            }
        }
    }

    /* TESTIMONIALS SECTION MEDIA QUERY*/

    .section-testimonials {
        h2 {
            margin-top: -5rem;
            padding: 4rem 0;
        }

        .testimony {

            &--wrapper {
                width: auto;
                display: flex;
                padding: 0 10rem;

                &__container {
                    @include flex-column;
                    align-items: baseline;
                    width: 100%;
                }
            }

            &:nth-of-type(odd) {
                align-self: flex-start;
            }

            &:nth-of-type(even) {
                align-self: flex-end;
            }
        }


    }

    /*****  FEATURED SECTION *****/
    .section-featured {
        min-height: auto;
        margin-bottom: 0;

        .featured {
            // @include flex-column;

            &>*:not(:last-child) {
                margin-bottom: 5rem;
            }
        }
    }

    /* CONTACT SECTION MEDIA QUERY*/
    .section-contact {
        &__wrapper {
            @include flex-column;
        }

        .left,
        .center,
        .right {
            width: 80%;
            margin: 0 auto;
        }

        .center {
            padding: 10rem 0;
        }

        .right {
            margin-bottom: 5rem;
        }
    }

    /* FOOTER SECTION MEDIA QUERY*/
    .section-footer {

        &--wrapper {
            @include flex-column;
            width: 80%;
            margin: 0 auto;
        }

        .top {
            @include flex-column;

            &>*:not(:last-child) {
                margin-bottom: 5rem;
            }
        }

        .follow-us {
            padding: 0;
        }
    }
}