@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin flex-row-justify-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}