// COLORS
$primary-color: #405E76;
$secondary-color: #DFC47F;


$color-white: #fff;

$color-grey: #777;

// FONT SIZE
$default-font-size: 1.6rem;

$font-size-small: 1.2rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;

$heading-small:2rem;
$heading-medium:4rem;
$heading-large: 5rem;
$heading-huge: 7.5rem;

// 